<!-- Contenedor encapsulador en el cual se hace todo el grid de bootstrap -->
<div class="container-fluid p-0 ml-0 mr-0 bg-tecnm" >
    <div class="row">
        
        <!-- Content -->
        <div id="content-holder" class="col-md-9 mx-auto m-4">
            <!-- Renglon 'Header' que presenta el nombre del departamento -->
            <div id="main-title" class="row align-center p-5 m-3 yogurt-defase">
                <!-- Titulo -->
                <div class="col-md-12 p-1 align-center">
                    <h1>
                        Bienvenidos
                    </h1>
                </div>

                <div class="col-md-12 p-1 align-center">
                    <p>
                    El Instituto Tecnológico de Mexicali, es una Institución de educación en áreas tecnológicas a Nivel Superior, que imparte Educación Tecnológica bajo tres principios: Calidad en la Educación, Eficiencia en su Administración y Pertinencia en sus Egresados.
                    </p>
                </div>
            </div>
            <!-- Renglon 'Header' que presenta el nombre del departamento -->
            
            <!-- Renglon de Contenido -->
            <div id="content1" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <!-- Imagen -->
                <div class="col-md-12 p-3">
                <a href="https://www.youtube.com/watch?v=hdsdzWxSxko&feature=youtu.be" style="z-index: 1;" target="_blank">
                    <img class="w-100" src="/img/slider/tecnm.jpg">
                    </img>
                </a>
                </div>
                <!-- Imagen -->

                <!-- Vision -->
                <div class="col-md-12 p-3">
                    <h1>
                        Visión
                    </h1>
                    <p>
                        Ser un Instituto de vanguardia a nivel nacional con reconocimiento internacional, formador de profesionistas íntegros y competitivos a nivel global comprometidos con el progreso de la sociedad.
                    </p>
                </div>
                <!-- Vision -->

                <!-- Mision -->
                <div class="col-md-12 p-3">
                    <h1>
                        Misión
                    </h1>
                    <p>
                        Ser un instrumento de desarrollo de su comunidad, formando profesionales de excelencia en tecnología y mística de trabajo, capaces de responder a los retos de la modernización con calidad y productividad.
                    </p>
                </div>
                <!-- Mision -->

                
            </div>
            <!-- Renglon de Contenido -->

            
        </div>
        <!-- Content -->

        

    </div>
</div>