<!-- Contenedor encapsulador en el cual se hace todo el grid de bootstrap -->
<div class="container-fluid p-4 mx-auto bg-tecnm" >
    <!-- Renglon 'Header' que presenta el nombre del departamento -->
    <div class="row align-center p-5 m-3 bg-light yogurt-defase" style="color: #4f4f4f;">
        <!-- Titulo -->
        <div class="col-md-12 align-center">
            <h1>Centro de Información</h1> 
        </div>

        <div class="col-md-12 pt-4 pr-4 pl-4" style="">
            <p>
            En el Centro de Información (CI), se brinda un 
            servicio de apoyo al área académica integrado 
            y coordinado, para facilitar el acceso a la información 
            y el conocimiento, por medio de colecciones 
            bibliográficas actualizadas y servicios de información 
            que apoyan al proceso enseñanza-aprendizaje, investigación 
            y difusión a la comunidad tecnológica.
            </p>
        </div>
    </div>
    
    <!-- Renglon de Contenido -->
    <div class="row yogurt-defase p-2 mt-5 mb-5 m-3" style="color: #4f4f4f;">
        <!-- Mision y Vision-->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 pt-4 pr-4 pl-4">
                    <h2>Quienes Somos</h2>
                    <hr>
                </div>

                <div class="col-md-12 pt-4 pr-4 pl-4">
                    <h4>MISIÓN</h4> <br>
                    <p>
                        Satisfacer las necesidades de información bibliográfica y 
                        documental en un sistema de recuperación automatizado para 
                        fomentar y difundir la cultura, apoyar a la docencia y así 
                        contribuir a la formación integral de profesionistas para 
                        proporcionar servicios bibliotecarios como lo demanda nuestro 
                        Sistema de Gestión de Calidad. <br> <br> <br>
                    </p>

                    <h4>VISIÓN</h4> <br>
                    <p>
                        Ser un espacio capaz de atender las demandas de la formación 
                        con los recursos adecuados y personal especializado, para 
                        otorgar asesoría permanente a fin de los usuarios se provean 
                        de la información que requieren utilizando tecnología de 
                        vanguardia para la formación de profesionistas competentes. 
                    </p>
                </div>
            </div>
        </div>
        <!-- Mision y Vision -->

        <!-- Servicios que presta -->
        <div class="col-md-6 align-center">
            <div class="row">

                <div class="col-md-12 pt-4 pr-4 pl-4">
                    <h2>Servicios Que Prestamos</h2>
                    <hr>
                </div>

                <div class="col-md-12 p-4">
                    <ul style="text-align: left;">
                        <li>
                            Orientación a usuarios
                        </li>

                        <li>
                            Consulta interna
                        </li>
                        
                        <li>
                            Préstamo a domicilio
                        </li>

                        <li>
                            Préstamo de cubículos de estudio    
                        </li>

                        <li>
                            Internet libre
                        </li>

                        <li>
                            Atención a sugerencias bibliográficas
                        </li>

                        <li>
                            Formación de usuarios I. Visita guiada al Centro de Información
                        </li>

                        <li>
                            Formación de usuarios II. Asesorías para el uso de Recursos Bibliográficos Electrónicos.
                        </li>

                        <li>
                            Sala general
                        </li>

                        <li>
                            Sala de consulta
                        </li>

                        <li>
                            Sala de proyección
                        </li>

                        <li>
                            Sala de capacitación "Eduardo Martínez Palomera"
                        </li>

                        <li>
                            Sala de Lectura Recreativa
                        </li>

                        <li>
                            Hemeroteca
                        </li>

                        <li>
                            70 equipos en el módulo de Servicios Digitales
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Servicios que presta -->
    </div>

    <!-- Otras bibliotecas oficiales en México -->
    <div class="row yogurt-defase m-3 p-2">
        <div class="col-md-12" style="text-align: center;">
            <h2>Otras Bibliotecas Oficiales en México:</h2>
            <hr>
            <div class="row">
                <div class="col-md-2" style="min-width: 210px">
                    <a href="https://www.bibliotecademexico.gob.mx/">
                        <img src="/img/cinformacion_images/conaculta.png" alt="Biblioteca de Mexico Conaculta">
                    </a>
                </div>
                <div class="col-md-2" style="min-width: 210px">
                    <a href="http://bdmx.mx/">
                        <img src="/img/cinformacion_images/digitalmexicana.png" alt="">
                    </a>
                    
                </div>
                <div class="col-md-2" style="min-width: 210px">
                    <a href="https://www.wdl.org/es/">
                        <img src="/img/cinformacion_images/digitalmundial.png" alt="">
                    </a>
                    
                </div>
                <div class="col-md-2" style="min-width: 210px">
                    <a href="http://www.dirbibliotecas.ipn.mx/Paginas/inicio.aspx">
                        <img src="/img/cinformacion_images/politecnico.png" alt="">
                    </a>
                    
                </div>
                <div class="col-md-2" style="min-width: 210px">
                    <a href="https://bibliotecas.unam.mx/">
                        <img src="/img/cinformacion_images/unam.jpg" alt="">
                    </a>
                    
                </div>
                <div class="col-md-2" style="min-width: 210px">
                    <a href="http://www.bibliotecavirtualbc.gob.mx/">
                        <img src="/img/cinformacion_images/virtualBC.png" alt="">
                    </a>
                </div>
            </div>
            
        </div>
        
    </div>
    <!-- Otras bibliotecas oficiales en México -->
        
        
    

</div>