<!-- Contenedor encapsulador en el cual se hace todo el grid de bootstrap -->
<div class="container-fluid p-0 ml-0 mr-0 bg-tecnm" >
    <div class="row">
        <!-- Sidebar -->
        <div id="sidebar-holder" class="col-md-2 p-0">
            <div id="collapser" class="d-sm-none d-md-none d-lg-none d-xl-block">
                <a href="#" onclick="toggleSidebar()">
                <img id="collapser-icon" width="35" height="35" src="https://img.icons8.com/ios-filled/50/FFFFFF/double-left.png" alt="double-left"/>
                </a>
            </div>

            <div id="sidebar" class="col-md-12 d-sm-none d-md-none d-lg-none d-xl-block">  
                <div class="sidebar-separator item-style">
                    <span>Main Menu</span>
                </div>
                
                <div class="item-style">
                    <a href="#" onclick="contentToggle('documents')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/FFFFFF/user--v1.png" alt="user--v1"/>        
                        Documentos
                    </a>
                </div>
                
                <!--

                <div class="sidebar-separator item-style">
                    <span>Example Separator</span>
                </div>

                <div class="item-style">
                    <a href="#" onclick="toggleSubmenu('womp')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/FFFFFF/user--v1.png" alt="user--v1"/>        
                        Opcion 1
                    <img id="womp" class="submenu-button" width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/expand-arrow--v1.png" alt="expand-arrow--v1"/>
                    </a>
                </div>

                <div class="submenu womp item-style d-none">
                    <a href="#">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/fire-element--v1.png" alt="fire-element--v1"/>        
                        Opcion 1
                    </a>
                </div>

                <div class="submenu womp item-style d-none">
                    <a href="#">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                        Opcion 2
                    </a>
                </div> -->
                
            </div>
        </div>
        <!-- Sidebar -->

        <!-- Content -->
        <div id="content-holder" class="col-md-9 mx-auto">
                <!-- Renglon 'Header' que presenta el nombre del departamento -->
            <div id="main-title" class="row align-center p-5 m-4 yogurt-defase">
                <!-- Titulo -->
                <div class="col-md-12 align-center">
                    <h1>Servicio Social</h1> 
                </div>
            </div>
            
            <!-- Documentos -->
            <div id="documents" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <!-- Documentos para Solicitud de Servicio Social: -->
                <div class="col-md-12">
                    <div class="row align-center">
                        <div class="col-md-12 pt-4 pr-4 pl-4">
                            <h2>Documentos para Solicitud de Servicio Social:</h2>
                            <hr>
                        </div>

                        <div class="col-md-12 p-4" style="text-align: left;">
                            <h3><b>Documentos para solicitud de Servicio Social:<br>	</h3>
                                <a href="https://view.officeapps.live.com/op/view.aspx?src=http%3A%2F%2Fwww.itmexicali.edu.mx%2Fdepartamentos%2Fss%2Fdocumentos%2Finstructivo.doc&wdOrigin=BROWSELINK"> Instructivo para reporte final de S.S. o Memoria</a><br>
                                <a href="https://docs.google.com/spreadsheets/d/1hf59n-r3G_3_ADPMRzvu6AUisAUOrkGb-iKCR--ct3Y/edit?usp=sharing">Relacion de Programas de Servicio Social </a><br> 
                                <a href="https://forms.gle/8KbDKKZPhvtHWTX58"> Formulario de Preregistro para inscripcion de Servicio Social</a><br>
                                <br>
                                <h3><b>Descargar Documentos de Servicio Social:<br></h3>
                                <br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002.pdf?archivo=19"> Procedimiento para el Servicio Social con enfoque por competencias</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-01.docx?archivo=19"> Formato para Solicitud de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-02.doc?archivo=19"> Formato para Carta Compromiso de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-03.doc?archivo=19"> Formato para Carta de Presentación de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-04.doc?archivo=19"> Formato para Reporte Bimestral de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-05.doc?archivo=19"> Formato para Constancia de Terminación de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-06.doc?archivo=19"> Formato de tarjeta de control de servicio social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-07.doc?archivo=19"> Formato de Carta de asignación de servicio social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-08.doc?archivo=19"> Formato de Evaluación Cualitativa del prestador de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-09.doc?archivo=19"> Formato de Auto Evaluación Cualitativa del prestador de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-10.doc?archivo=19"> Formato de Evaluación de las actividades por prestador de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-A01.pdf?archivo=19"> Instrucciones para designar el nivel de desempeño del prestador de Servicio Social</a><br>
                                <a href="https://www.tecnm.mx/dir_calidad/gestion_calidad/TecNM-VI-PO-002-A02.pdf?archivo=19"> Información de referencia para elaboración de carta de terminación de Servicio Social</a><br>
                        </div>
                    </div>
                </div>
                <!-- Documentos para Solicitud de Servicio Social: -->

            </div>

        </div>
        <!-- Content -->
    </div>
</div>