

.masthead {
	min-height:50px;
background: rgba(237,237,237,1);
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(227,227,227,1) 50%, rgba(217,217,217,1) 51%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(50%, rgba(227,227,227,1)), color-stop(51%, rgba(217,217,217,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(227,227,227,1) 50%, rgba(217,217,217,1) 51%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(227,227,227,1) 50%, rgba(217,217,217,1) 51%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(227,227,227,1) 50%, rgba(217,217,217,1) 51%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(227,227,227,1) 50%, rgba(217,217,217,1) 51%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
   
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:10px;
	background-color:#111155;
  	border-color:#000033;
}

.azulfuerte{
	background: rgba(92,151,214,1);
background: -moz-linear-gradient(top, rgba(92,151,214,1) 0%, rgba(25,127,230,1) 50%, rgba(22,99,167,1) 51%, rgba(92,151,214,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,151,214,1)), color-stop(50%, rgba(25,127,230,1)), color-stop(51%, rgba(22,99,167,1)), color-stop(100%, rgba(92,151,214,1)));
background: -webkit-linear-gradient(top, rgba(92,151,214,1) 0%, rgba(25,127,230,1) 50%, rgba(22,99,167,1) 51%, rgba(92,151,214,1) 100%);
background: -o-linear-gradient(top, rgba(92,151,214,1) 0%, rgba(25,127,230,1) 50%, rgba(22,99,167,1) 51%, rgba(92,151,214,1) 100%);
background: -ms-linear-gradient(top, rgba(92,151,214,1) 0%, rgba(25,127,230,1) 50%, rgba(22,99,167,1) 51%, rgba(92,151,214,1) 100%);
background: linear-gradient(to bottom, rgba(92,151,214,1) 0%, rgba(25,127,230,1) 50%, rgba(22,99,167,1) 51%, rgba(92,151,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c97d6', endColorstr='#5c97d6', GradientType=0 );
}
.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.navbar-bright {
background: #279DDD;; /* Old browsers */
   color:#ffffff;
}
  
.navbar-bright a, #masthead a, #masthead .lead {
  	color:#ffffff;
}

.navbar-bright li > a:hover {
	background: rgba(182,193,237,1);
background: -moz-linear-gradient(top, rgba(182,193,237,1) 0%, rgba(113,142,239,1) 50%, rgba(34,85,226,1) 51%, rgba(182,193,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(182,193,237,1)), color-stop(50%, rgba(113,142,239,1)), color-stop(51%, rgba(34,85,226,1)), color-stop(100%, rgba(182,193,237,1)));
background: -webkit-linear-gradient(top, rgba(182,193,237,1) 0%, rgba(113,142,239,1) 50%, rgba(34,85,226,1) 51%, rgba(182,193,237,1) 100%);
background: -o-linear-gradient(top, rgba(182,193,237,1) 0%, rgba(113,142,239,1) 50%, rgba(34,85,226,1) 51%, rgba(182,193,237,1) 100%);
background: -ms-linear-gradient(top, rgba(182,193,237,1) 0%, rgba(113,142,239,1) 50%, rgba(34,85,226,1) 51%, rgba(182,193,237,1) 100%);
background: linear-gradient(to bottom, rgba(182,193,237,1) 0%, rgba(113,142,239,1) 50%, rgba(34,85,226,1) 51%, rgba(182,193,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c1ed', endColorstr='#b6c1ed', GradientType=0 );

color:#FFFFFF;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

#mainCol h2 {
	padding-top: 55px;
    margin-top: -55px;
}







/** FRAMES ADMIN PANEL **/
	
body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%; 
max-height: 100%; 
}

#framecontent{
position: absolute;
top: 0;
bottom: 0; 
left: 0;
width: 210px; /*Width of frame div*/
height: 100%;
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background: #279DDD;; /* Old browsers */
   color:#ffffff;
}

#maincontent{
/** padding: 20px; **/
	margin-top: 20px;
position: fixed;
top: 0; 
left: 210px; /*Set left value to WidthOfFrameDiv*/
right: 0;
bottom: 0;
overflow: auto; 
background: #fff;
}

.innertube{
margin: 0px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

* html body{ /*IE6 hack*/
padding: 0 0 0 200px; /*Set value to (0 0 0 WidthOfFrameDiv)*/
}

* html #maincontent{ /*IE6 hack*/
height: 100%; 
width: 100%; 
}
	
/** FRAMES ADMIN PANEL FIN **/

/** Usuario CSS **/
	.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}



.easyWizardSteps {list-style:none;width:100%;overflow:hidden;margin:0;padding:0;border-bottom:1px solid #ccc;margin-bottom:20px}
.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#B0B1B3;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#000}
.easyWizardButtons {overflow:hidden;padding:10px;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {float:left}
.easyWizardButtons .next, .easyWizardButtons .submit {float:right}
/** fin usuario css **/
	
	
	
/** extra **/
	.negroFondo{
	background: #aebcbf; /* Old browsers */
background: -moz-linear-gradient(top,  #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
background: linear-gradient(to bottom,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */

}
	/* Post Table */
.info-table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    color: #314351;
    font-size: 0.857em;
    line-height: 1em;
    margin-bottom: 17px;
    font-family: "Arial",sans-serif;
}
.info-table a {
 
}
.info-table a:hover {

}
.info-table th, .info-table td {
    border: 1px solid #BCBABA;
    border-top-color: #FFF;
    border-right: none;
    padding: 8px 20px 8px 23px;
    text-align: left;
    vertical-align: middle;
    background: #EEE;
    margin: 0;
}

.info-table th {
background: #aebcbf; /* Old browsers */
background: -moz-linear-gradient(top,  #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
background: linear-gradient(to bottom,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */

    text-align: left;
    font-size: 13px;
    line-height: 1.538em;
    padding: 6px 20px 5px 23px;
    color: #ffffff;
  /** text-shadow: 0px 0px 1px rgba(0, 81, 168, 0.38); **/
    border-color: #cccccc;
  
}

.info-table th:last-child {
    border-right: 1px solid #BCBABA;
    text-align: center;
}

.info-table td.last, .info-table td:last-child {
    border-right: 1px solid #C2CAD0;
}

.info-table .even td, .info-table tr:nth-child(even) td {
    background: #ffffff;
}
/** extra **/
	
/** STEP CSS **/
	 .fija {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 700px;
    overflow-y: auto;
    height: 390px;
      }
	
	     #wrapper{
                border: 1px solid #DCDADA;
                border-radius: 5px 5px 5px 5px;
                box-shadow: 2px 2px 2px #E1E1E1;
                background: #fff;
                width:100%;
                height:480px;
                background:#f4f4f4;
            }
            #wrapper h3{
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size:16px;
                height:60px;
                background:url(img/title.png) no-repeat left top;
                margin:0;
                padding:16px 0 0 20px;
                text-shadow: 1px 1px 2px #000;
                filter: dropshadow(color=#000, offx=1, offy=1);
                color:#fff;
            }
            #slider {

                background: #fff;
                /*IE bugfix*/
                padding:0;
                margin:0;
                width:100%;
           height:500px;	
                min-height: 400px;
              

            }

            #slider li { list-style:none; }

            #page {
                width:100%;
                margin:50px auto;
            }

            #slider{
            	position: relative;
                color: #000;
                background:#ffffff;
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size:12px;
            }

            .form-step{

                padding:7% 3% !important;


            }

            .form-submit{
                cursor: pointer;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                -moz-user-select: none;
                background: none repeat scroll 0 0 #6F95DC;
                border-radius: 5px 5px 5px 5px;
                color: #FFFFFF;
                display: block;
                margin: 0 20px 20px;
                padding: 10px;
                text-align: center;
                width: 125px;
                z-index: 10;
                font-weight: bold;
                text-decoration: none;
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#94b9e9), to(#4870d2));
                background-image: -moz-linear-gradient(#94b9e9, #4870d2);
                background-image: -webkit-linear-gradient(#94b9e9, #4870d2);
                background-image: -o-linear-gradient(#94b9e9, #4870d2);
                filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

            }

            .errorDisplay{
                border:2px solid red;
            }

            .form-left{
                color: #717171;
                float: left;
                font-size: 13px;
                font-weight: bold;
                padding: 5px;
                width: 200px;
            }
            .form-right{
                float: left;
                width: 314px;
            }
            .row{
                float: left;
                margin: 2px 0;
                width: 100%;
            }
            .form-step input[type='text']{
              
                width: 300px;
            }
            select{
                border-radius: 4px;
                border: 1px solid #CFCFCF;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                background: #FFF;
                padding: 2px;
                height: 30px;
                width:305px;
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size:12px;
                background:#f4f4f4;
            }

            select option{
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size:12px;
                background:#f4f4f4;
                color:#717171;
            }

            
            .form-error{
                color: red;
                font-size: 12px;
                padding: 8px;
            }

            .step-error{
                background:#f5715f !important;
                color:#FFF !important;
                -moz-box-shadow:1px 1px 4px #C6C4C4
                    -webkit-box-shadow:1px 1px 4px #C6C4C4
                    box-shadow:1px 1px 4px #C6C4C4
            }
            .step-success{
                background:#72e487 !important;
                color:#FFF !important;
                -moz-box-shadow:1px 1px 1px 4px #C6C4C4
                    -webkit-box-shadow:1px 1px 1px 4px #C6C4C4
                    box-shadow:1px 1px 1px 4px #C6C4C4
            }
            .bullet-desc{
                font-size: 14px;
                font-weight: bold;
            }
/** STEP FIN CSS**/
/** upload progresss bar CSS **/
	#progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }
/** upload progress bar css **/
/** ANGULAR LIBROS BOX **/
	

#librosCSS {
  background: whitesmoke;
  position: relative;

 
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: inset 1px 1px 0 white;
  max-height: 300px;
}

#librosCSS ul {
  margin: 0 auto;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
}
.successlibro{
/**background: #5CB85C; **/
	padding: 4px;
}

#librosCSS  li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: 
    linear-gradient(
      90deg,
      #FFD32E 10px,
      #EEE 10px,
      #EEE 11px,
      transparent 11px);
  padding: 10px 15px 10px 25px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}

#query {
  width: 100%;
  box-sizing: border-box;
  font-size: 19px;
  padding: 5px;
  font-family: calibri light;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#librosCSS span {
  display: block;
  position: absolute;
  background: #FFD32E;
  bottom: -35px;
  left: -1px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.5);
}

#librosCSS select {
  width: 120px;
  margin-left: 80%;
  margin-top: -45px;
  border-radius: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 7.5px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

#librosCSS select:focus, #query:focus {
  border: 1px solid #FFD32E;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.1);
  outline: none;
}

.title {
  color: orange;
  margin-bottom: 0;
}

.animate-enter, .animate-leave {
  transition: 300ms ease-in all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active, .animate-leave {
  left: 0;
  opacity: 0;
}

.animate-leave.animate-leave-active, .animate-enter {
  left: 300px;
}
#book_ul{
	height: 350px;
}
/** FIN ANGULAR LIBROS BOX **/
/** PARPADEO **/
	
	.parpadea{  
  background:grey;
  width:100px;
    height:100px;           
    border:: 1px solid white;
    border-radius: 10px;
    box-shadow:0px 0px 10px white;
    -webkit-box-shadow:0px 0px 10px white;  
    -webkit-border-radius:0px 10px 0px 10px;    
    margin:100px auto;  
    animation: parpadeo 5s;
    -webkit-animation: parpadeo 5s;
  -moz-animation: parpadeo 5s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
}
  @keyframes parpadeo { 
    0%  {box-shadow: 0px 0px 10px white}
    50% {box-shadow: 0px 0px 50px white}
    100%{box-shadow: 0px 0px 10px white}    
    }
        
    @-webkit-keyframes parpadeo {   
    0%  {-webkit-box-shadow: 0px 0px 10px white}
    50% {-webkit-box-shadow: 0px 0px 50px white}
    100%{-webkit-box-shadow: 0px 0px 10px white}
    
    }
/**  PARPADEO **/
/** tabs **/
	.wrapper22 {
  margin: 30px auto;
 
  font-family: sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 24px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
h1 + p {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
}
.tabs li {
  float: left;
  width: 20%;
}
.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  padding: 20px 0;
  border-bottom: 2px solid #888;
  background: #f7f7f7;
}
.tabs a:hover,
.tabs a.active {
  background: #ddd;
}
.tabgroup div {

}
.boxbox{
	  padding: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/** **/