

	 .fija {
    position: relative;

    width: 100%;
    overflow-y: auto;
    height: 390px;
      }


/** box a list **/
	*{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#wrapper html, body{
	background-color:#F2F2F2;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	text-align:center;
	color:#404040;
	position:relative;
}

#wrapper a{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wrapper{
	width:100%;
	margin:30px auto 0;
	background-color:#FFFFFF;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#wrapper header{
	text-align:right;
	padding:10px;
	margin-bottom:10px;
	background-color:#6db3f2;
}

#wrapper header a{
	font-size:20px;
	color:#FFFFFF;
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:10px;
	text-align:center;
	display:inline-block;
}

#wrapper header a:hover, .list-mode header a.hide-list:hover{
	background-color:#000033;
}

#wrapper header a.hide-list{
	background-color:#6db3f2;
}

.list-mode header a.hide-list{
	background-color:#6db3f2;
}

.list-mode header a.show-list{
	background-color:#6db3f2;
}

.containere:after{
	content:"";
	clear:both;
	display:table;
}

.container{
	
}

.wrapper .box{
	float:left;
	width:200px;
	height:320px;
	margin:0 10px 10px 0;
/**background-color:#FFFFFF; **/
	-webkit-transition:all 1.0s ease;
	-moz-transition:all 1.0s ease;
	transition:all 1.0s ease;
	transition:all 1.0s ease;
	border-radius: 5px;
	border: 1px #cccccc solid;
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#cccccc, #ffffff);
}

.wrapper.list-mode .containerr{
	padding-right:10px;
}

.wrapper.list-mode .box{
	width:100%;
}

/** box **/
	 .glow {
  text-shadow: 0 0 6px #ffffff, 0 0 4px #ffffff, 0 0 40px #ffffff, 0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 16px #999332, 0 0 8px #000000, 0 0 0px #000000;
  color: #ffffff;
}

  .textbox { 
    height: 25px; 
    width: 275px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: white; 
    outline:0; 
  } 

 .inputs {
 	
 	 background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: white; 
    outline:0; 
 	


   
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    width: 270px;
}

.inputs:focus {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.15);
    outline: none;
    background: #F7DEF7;
    background: rgba(255, 255, 255, 0.4);
    outline: solid 1px #FFFFFF;
}
.thumbnail img{
	max-height: 150px;
	max-width: 150px;
}
		 .fondod{
	 	 color:#ffffff;
		 	border: 2px #279DDD double;
		 	background: #6db3f2 url(http://subtlepatterns.com/patterns/geometry2.png);
		 	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#6db3f2, #00C3C3);

border-radius: 5px;
padding: 20px;
		 }
		 
		 
		 
		 
		 .fondod2{
	 	 color:#ffffff;
		 	border: 2px #279DDD double;
		 	background: #6db3f2 url(http://subtlepatterns.com/patterns/geometry2.png);
		 	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#00C3C3, #6db3f2);

border-radius: 11px;
padding: 12px;
		 }
/** box and list **/