<style>
	.shinia-yogurt-null {
		opacity: 0;
		/* Inicialmente invisible */
		transition: opacity 0.3s;
		/* Transición suave para la visibilidad */
		display: inline-block;
		/* Necesario para efectos de texto */
	}

	.shinia-yogurt-null:hover {
		opacity: 1;
		/* Visible al hacer hover */
		background: linear-gradient(270deg, #ff007a, #ff00ff, #7a00ff, #00c1ff, #00ff9f);
		background-size: 200% 200%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: gradientAnimation 3s ease infinite;
	}

	@keyframes gradientAnimation {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}
</style>

<div id='desface_footer' style='z-index:2100; display: none; box-shadow: 0px -10px 5px #0000002A;'>
	<footer class='bg-tecnm-2 footer'>

		<div class='row m-0 justify-content-center ' style="padding: 16px; padding-bottom: 30px;  ">

			<div class='h6 col-12 col-lg-3 text-center text-lg-left' style='line-height: 1.5;'>

				<p class='h5 font-weight-bold my-2 mt-lg-5'>
					Dirección
				</p>
				<p>
					Av. Instituto Tecnológico s/n plutarco Elías Calles 21376 Mexicali, B.C, México.
				</p>

				<p class='h5 font-weight-bold mt-lg-5'>
					Contacto
				</p>
				<p>
				<div class='row'>
					<div class='col-12'>
						<p>Email: direccion@itmexicali.edu.mx</p>
					</div>
					<div class='col-12'>
						<p>Conmutador: (686) 580-4980</p>
						<b>
							<p class="shinia-yogurt-null">Made with <i class="fa-solid fa-heart-circle-bolt"></i> by Compinches:
								R, J, M, S, U, C and D.</p>
						</b>
					</div>
				</div>
				</p>

			</div>

			<div class='h6 col-12 col-lg-3 text-center text-lg-left' style='line-height: 1.5;'>
				<p class='h5 font-weight-bold my-2 mt-lg-5'>
					Enlaces
				</p>
				<p>
					<a style="color:#fff"
						href="http://portaltransparencia.gob.mx/buscador/search/search.do?method=begin">
						Portal de Obligaciones de Transparencia
					</a>
					<br />
					<a style="color:#fff" href="http://inicio.ifai.org.mx/SitePages/ifai.aspx">INAI</a>
					<br />
					<a style="color:#fff" href="mailto: web@tecnm.mx">
						Buzón de Sugerencias
					</a>
				</p>

				<p class='h5 font-weight-bold my-2'>
					Número de visitas
				</p>
				<div id="sfc65h961x7l8kaphce2l3m9ajw369dtp7s"></div>
				<script type="text/javascript"
					src="https://counter4.optistats.ovh/private/counter.js?c=65h961x7l8kaphce2l3m9ajw369dtp7s&down=async"
					async></script>
				<noscript><a href="https://www.contadorvisitasgratis.com" title="contadores de visitas"><img
							src="https://counter4.optistats.ovh/private/contadorvisitasgratis.php?c=65h961x7l8kaphce2l3m9ajw369dtp7s"
							border="0" title="contadores de visitas" alt="contadores de visitas"></a></noscript>


			</div>

			<div class='h6 col-12 col-lg-6 text-center pt-5'>
				<iframe
					src="https://maps.google.com/maps?q=instituto%20tecnologico%20de%20mexicali&t=k&z=15&ie=UTF8&iwloc=&output=embed"
					width="100%" height="400" frameborder="0" style="border:0;"></iframe>
			</div>

			<div class='vh6 col-12 text-center mt-2' style='line-height: 1.5;'>
				© Copyright 2024 TecNM - Todos los Derechos Reservados
				<br />
				<a class='text-white'
					href='https://www.gob.mx/cms/uploads/attachment/file/328462/Proyecto_Aviso_Privacidad_TecNM_16052018.pdf'
					target='_blank'> Aviso de Privacidad </a>
				<br />
				Última actualización: 6/16/2024
			</div>

		</div>

	</footer>
</div>