<style>
    .news {
        height: 100%;
        max-height: 550px;
    }

    .swiffy-slider .slider-nav:focus,
    .swiffy-slider .slider-nav:active {
        outline: none;
        box-shadow: none;
    }
</style>
<script>
    //Function to limit the text length to only 100 characters.
    function truncateDescription(text) {
        const maxLength = 100;
        if (text.length <= maxLength) {
            return text;
        }

        // Find the last space within the allowed length
        let truncated = text.substr(0, maxLength);
        const lastSpaceIndex = truncated.lastIndexOf(' ');

        // If there's a space within the truncated part, truncate up to the last full word
        if (lastSpaceIndex > 0) {
            truncated = truncated.substr(0, lastSpaceIndex);
        }

        // Add ellipsis
        return truncated + '...';
    }

    // Function to limit the text length to only 30 characters.
    function truncateTitle(text) {
        const maxLength = 30;
        if (text.length <= maxLength) {
            return text;
        }

        // Find the last space within the allowed length
        let truncated = text.substr(0, maxLength);
        const lastSpaceIndex = truncated.lastIndexOf(' ');

        // If there's a space within the truncated part, truncate up to the last full word
        if (lastSpaceIndex > 0) {
            truncated = truncated.substr(0, lastSpaceIndex);
        }

        // Add ellipsis
        return truncated + '...';
    }

    // Function to fetch a local JSON file.
    function fetchLocalJSON(file, callback) {
        var xhr = new XMLHttpRequest();
        xhr.overrideMimeType("application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                callback(JSON.parse(xhr.responseText));
            } else {
            }
        };
        xhr.open("GET", file, true);
        xhr.send(null);
    }

    // Get news data from the JSON and create slider elements.
    fetchLocalJSON('json/news-list.json', function (datos) {
        // Get the news slider container.
        var newsOuter = document.querySelector('.swiffy-slider .slider-container');

        // Get the limit of news to show.
        var limit = datos[0].max;

        // Slice the first element of the array.
        datos = datos.slice(1, datos.length);

        // Sort data by date.
        datos.sort(function (a, b) {
            return new Date(b.date) - new Date(a.date);
        });

        // Limit the number of news to show.
        datos = datos.slice(0, limit);

        datos.forEach(function (value, key) {
            // Create an element for each slider item.
            var sliderItem = document.createElement('div');
            sliderItem.className = 'swiffy-slider-item';
            sliderItem.style.position = 'relative';

            var card = document.createElement('div');
            card.className = 'card';
            card.style.width = '100%';
            card.style.height = '100%';
            card.style.borderRadius = '1rem';

            var img = document.createElement('img');
            img.className = 'card-img-top';
            img.style.width = '100%';
            img.style.height = '10vh';
            img.style.borderRadius = '1rem 1rem 0 0';
            img.src = value.image;
            img.alt = value.title;

            card.appendChild(img);

            var cardBody = document.createElement('div');
            cardBody.className = 'card-body';
            
            var titleContainer = document.createElement('div');
            titleContainer.style.width = '100%';
            titleContainer.style.overflow = 'hidden';
            titleContainer.style.whiteSpace = 'nowrap';
            titleContainer.style.display = 'block';
            titleContainer.style.position = 'relative';

            var cardTitle = document.createElement('span');
            cardTitle.className = 'card-title';
            cardTitle.style.display = 'inline-block';
            cardTitle.style.color = '#fab005';
            cardTitle.style.fontSize = '2vh';
            cardTitle.style.fontWeight = 'bolder';
            cardTitle.style.paddingLeft = '8%';
            cardTitle.style.animation = 'marquee 15s linear infinite';
            cardTitle.textContent = value.title;

            titleContainer.appendChild(cardTitle);
            cardBody.appendChild(titleContainer);

            var cardText = document.createElement('p');
            cardText.className = 'card-text';
            cardText.style.color = '#000000';
            cardText.style.fontSize = '1.5vh';
            cardText.style.textAlign = 'justify';
            var limitDescription = truncateDescription(value.description);
            cardText.textContent = value.date_title + ' | ' + '\n' + limitDescription;

            cardBody.appendChild(cardText);

            var cardLink = document.createElement('a');
            cardLink.href = value.pdf;
            cardLink.target = '_blank';
            cardLink.className = 'btn btn-primary mt-2';
            cardLink.style.backgroundColor = '#fab005';
            cardLink.style.borderColor = '#fab005';
            cardLink.textContent = 'Leer más';

            cardBody.appendChild(cardLink);

            card.appendChild(cardBody);

            sliderItem.appendChild(card);

            // Añadir el elemento al contenedor del slider
            newsOuter.appendChild(sliderItem);
        });

        // Inicializar Swiffy Slider
        new SwiffySlider(document.querySelector('.swiffy-slider'));
    });
    // Get news data from the JSON and create slider elements.

    // Set news interval time from the JSON.
    fetchLocalJSON('json/news-time.json', function (datos) {
        var intervalTime = Number(datos.time) * 1000;
        document.querySelector('.swiffy-slider').setAttribute('data-slider-nav-autoplay-interval', intervalTime);
    });
    // Set news interval time from the JSON.
</script>

<!-- HTML structure for the Swiffy Slider -->
<div id='desface' style='display: none; background-color: #eeeeee;'>
    <div class='container-fluid m-auto'>
        <!-- Comunicación -->
        <div class='row w-100 justify-content-center m-0'>
            <div class="col-lg-8 col-md-8 col-12">
                <section class='container news px-5 ml-auto mr-auto mt-3 pt-3 pb-4 stupid-defase hide-scroll'
                    id='desface_noticias'
                    style='display: none; height: 100%; max-height: auto; overflow: scroll; z-index: 1500;'>
                    <div class='row'>
                        <div class='col-12 display-2 text-left my-0 py-3'>
                            <a role='button' href='?vista=Noticias'>
                                <h1 style="color: #1B396A; font-size: 5vh;"><span><i
                                            style="color: #fab005; padding-right: 2vh;"
                                            class="fa-solid fa-newspaper"></i></span>Noticias</h1>
                            </a>
                        </div>
                    </div>
                    <div
                        class="swiffy-slider slider-nav-autoplay slider-nav-visible slider-nav-chevron slider-item-show3">
                        <div class="slider-container">
                            <!-- Los elementos generados por JavaScript se insertarán aquí -->
                        </div>
                        <button type="button" class="slider-nav" aria-label="Go to previous"
                            style="margin-left: -3rem;"></button>
                        <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"
                            style="margin-right: -3rem;"></button>
                    </div>
                </section>
            </div>
            <div class="events-x col-lg-4 col-md-4 col-12">
                <%- include('events'); %>
            </div>
        </div>
        <br />

        <style>
            /* Only in mobile */
            @media (max-width: 768px) {
                .events-x {
                    margin-bottom: 1.5rem;
                }
            }
        </style>