<!-- Contenedor encapsulador en el cual se hace todo el grid de bootstrap -->
<div class="container-fluid p-0 ml-0 mr-0 bg-tecnm" >
    <div class="row">
        <!-- Content -->
        <div id="content-holder" class="col-md-12 mx-auto m-4">
            <!-- Renglon de Contenido -->
            <div id="FileDisplay" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
            </div>
            <!-- Renglon de Contenido -->
        </div>
        <!-- Content -->
    </div>
</div>