<!-- Contenedor encapsulador en el cual se hace todo el grid de bootstrap -->
<div class="container-fluid p-0 ml-0 mr-0 bg-tecnm" >
    <div class="row">
        <!-- Sidebar -->
        <div id="sidebar-holder" class="col-md-2 p-0">
            <div id="collapser" class="d-sm-none d-md-none d-lg-none d-xl-block">
                <a href="#" onclick="toggleSidebar()">
                <img id="collapser-icon" width="35" height="35" src="https://img.icons8.com/ios-filled/50/FFFFFF/double-left.png" alt="double-left"/>
                </a>
            </div>

            <div id="sidebar" class="col-md-12 d-sm-none d-md-none d-lg-none d-xl-block">  
                <div class="sidebar-separator item-style">
                    <span>Main Menu</span>
                </div>
                
                <!-- Inicio -->
                <div class="item-style">
                    <a href="#" onclick="contentToggle('inicio')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/home.png" alt="home--v1"/>        
                        Inicio
                    </a>
                </div>
                <!-- Inicio -->

                <!-- Submenu: Personal -->
                <div class="item-style">
                    <a href="#" onclick="toggleSubmenu('personal')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/FFFFFF/user--v1.png" alt="user--v1"/>
                        Personal
                    <img id="personal" class="submenu-button" width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/expand-arrow--v1.png" alt="expand-arrow--v1"/>
                    </a>
                </div>
                
                <!-- Submenu: Personal - Docente -->
                <div class="submenu personal item-style d-none">
                    <a href="#" onclick="contentToggle('docente')">
                    <img width="30" height="30" src="https://img.icons8.com/external-basicons-solid-edtgraphics/50/FFFFFF/external-apple-fruits-basicons-solid-edtgraphics.png" alt="user--v1"/>        
                        Docente
                    </a>
                </div>
                <!-- Submenu: Personal - Docente -->

                <!-- Submenu: Personal - Estudiantes -->
                <div class="submenu personal item-style d-none">
                    <a href="#" onclick="contentToggle('estudiantes')">
                    <img width="30" height="30" src="https://img.icons8.com/pastel-glyph/64/FFFFFF/books.png" alt="user--v1"/>        
                        Estudiantes
                    </a>
                </div>
                <!-- Submenu: Personal - Estudiantes -->

                <!-- Submenu: Personal -->

                <!-- Submenu: Programas -->
                <div class="item-style">
                    <a href="#" onclick="toggleSubmenu('programas')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/document--v1.png" alt="document"/>
                        Programas
                    <img id="programas" class="submenu-button" width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/expand-arrow--v1.png" alt="expand-arrow--v1"/>
                    </a>
                </div>

                <!-- Submenu: Programas - Maestria en Sistemas -->
                <div class="submenu programas item-style d-none">
                    <a href="#" onclick="contentToggle('m_sistemas')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/program.png" alt="program"/>        
                        Maestría en Sistemas Computacionales
                    </a>
                </div>
                <!-- Submenu: Programas - Maestria en Sistemas -->

                <!-- Submenu: Programas - Maestria en Electrónica -->
                <div class="submenu programas item-style d-none">
                    <a href="#" onclick="contentToggle('m_electronica')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/circuit.png" alt="user--v1"/>        
                        Maestría en Ingenieria en Electrónica
                    </a>
                </div>
                <!-- Submenu: Programas - Maestria en Electrónica -->
                <!-- Submenu: Programas -->

                <!-- Submenu: CAII 
                <div class="item-style">
                    <a href="#" onclick="toggleSubmenu('investigacion')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/microscope.png" alt="user--v1"/>        
                        Investigación
                    <img id="investigacion" class="submenu-button" width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/expand-arrow--v1.png" alt="expand-arrow--v1"/>
                    </a>
                </div>

                 Submenu: CAII - Cuerpo Académico Informática Industrial 
                <div class="submenu investigacion item-style d-none">
                    <a href="http://caii.itmexicali.edu.mx">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/groups.png" alt="usergroup"/>        
                        Cuerpo Académico Informática Industrial
                    </a>
                </div>
                Submenu: CAII - Cuerpo Académico Informática Industrial -->
                <!-- Submenu: CAII -->

                <div class="sidebar-separator item-style">
                    <span>Ofertas Educativas</span>
                </div>
                
                <!-- Convocatorias -->
                <div class="item-style">
                    <a href="#" onclick="contentToggle('convocatorias')">
                    <img width="30" height="30" src="https://img.icons8.com/pastel-glyph/64/FFFFFF/checklist--v1.png" alt="checklist"/>                        
                        Convocatorias
                    </a>
                </div>
                <!-- Convocatorias -->

                <!-- Codigo de Conducta -->
                <div class="item-style">
                    <a href="/assets/tec-files/posgrado/M00-CC-01_Codigo_de_Conducta_del_TecNM.pdf">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/saddle-stitched-booklet.png" alt="openbook"/>                        
                        Código de Conducta
                    </a>
                </div>
                <!-- Codigo de Conducta -->

                <div class="item-style">
                    <a href="#" onclick="contentToggle('contacto')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/phone.png" alt="phone"/>                        
                        Contacto
                    </a>
                </div>
                
            </div>
        </div>
        <!-- Sidebar -->

        <!-- Content -->
        <div id="content-holder" class="col-md-9 mx-auto m-4">
            <!-- Renglon 'Header' que presenta el nombre del departamento -->
            <div id="main-title" class="row align-center p-5 m-3 yogurt-defase">
                <!-- Titulo -->
                <div class="col-md-12 align-center">
                    <h1>División De Estudios De Posgrado E Investigación</h1> 
                </div>
            </div>
            <!-- Renglon 'Header' que presenta el nombre del departamento -->
            
            <!-- Inicio -->
            <div id="inicio" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <!-- img -->
                <div class="col-md-8 align-center">
                    <img src="/img/carreras/Poster-Maestria-Sistemas.jpeg" width="800px" height="1200px" alt="Convocatoria de Maestria en Sistemas">
                </div>

                <div class="col-md-4 p-4">
                    <h2>Sitios Relacionados</h2>
                    <hr>
                    <ul>
                        <li>
                            <a href="http://www.tecnm.mx/">
                                TecNM
                            </a>
                        </li>
                        <li>
                            <a href="http://www.conacyt.gob.mx/">
                                CONACYT
                            </a>
                        </li>
                        <li>
                            <a href="http://www.universia.net.mx/">
                                Universia   
                            </a>
                        </li>
                        <li>
                            <a href="http://dsa.sep.gob.mx/">
                                PROMEP
                            </a>
                        </li>
                    </ul>

                    <br><br>

                    <h2>Buzón De Quejas Y Sugerencias</h2>
                    <hr>
                    <ul>
                        <li>
                            <a href="https://forms.gle/goPkoY5f4Ln6G6328">
                            Envíanos tus quejas y/o sugerencias.
                            </a>
                        </li>
                    </ul>

                    <br><br>

                    <p>
                    Puedes consultar la Convocatoria de Ingreso 
                    al programa de Maestría en Sistemas Computacionales 
                    en la opcion de "Convocatorias"
                    </p>
                </div>
                <!-- img -->
            </div>
            <!-- Inicio -->

            <!-- Docente -->
            <div id="docente" class="row align-center yogurt-defase p-2 mt-5 mb-5 m-3">
                
                <div class="col-md-12 p-4">
                    <h2>Docentes</h2>
                    <hr>
                </div>

                <!-- Jaime Olvera -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/jaime_0.jpeg" alt="Jaime Olvera">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Jaime Olvera González</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                jaimeolvera@itmexicali.edu.mx <br>
                                Maestría en sistemas computacionales <br>
                                Áreas de Interés: Programación especializada y robótica
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Jaime Olvera -->

                <!-- Veronica Quintero -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/vero.jpg" alt="Veronica Quintero">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Verónica Quintero Rosas</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                veroquintero@yandex.ru <br>
                                MC. de la Ingeniería, MI. Electrónica <br>
                                Áreas de Interés: Computación ubicua y Móvil, 
                                Sistemas Roboticos, Interacción humano-computadora
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Veronica Quintero -->

                <div class="col-md-12">
                    <hr>
                </div>

                <!-- Rafael Ivan -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/rafa.jpg" alt="Rafael Ivan">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Rafael Ivan Ayala Figueroa</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                rafaelivan@itmexicali.edu.mx <br>
                                MC. en Matemáticas Aplicadas <br>
                                Áreas de Interés: Control automático y Estadística Aplicada
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Rafael Ivan -->

                <!-- Mario Camarillo -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/Mario Camarillo.jpg" alt="Mario Camarillo">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Mario Alberto Camarillo Ramos</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                mario.camarillo@itmexicali.edu.mx <br>
                                Maestro en Ciencias <br>
                                Áreas de Interés: Bioingeniería
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Mario Camarillo -->

                <div class="col-md-12">
                    <hr>
                </div>

                <!-- Jorge Antonio -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/jorgeatempa_1.jpg" alt="Jorge Antonio">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Jorge Antonio Atempa Camacho</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                jatempa@itmexicali.edu.mx <br>
                                Maestría en Ingeniería Electrónica <br>
                                Áreas de Interés: Programación Web/Móvil, Internet de las Cosas
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Jorge Antonio -->
                 
                <!-- Claudia Martinez -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/claudia.jpeg" alt="Claudia Martinez">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Claudia Martinez Castillo</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                claudiaMartinez@gmail.com <br>
                                Informática 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Claudia Martinez -->

                <div class="col-md-12">
                    <hr>
                </div>

                <!-- Heber Samuel -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/heber.jpeg" alt="Heber Samuel">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Heber Samuel Hernández Tabares</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                heberhernandez@itmexicali.edu.mx <br>
                                Maestría en telecomunicaciones y redes <br>
                                Áreas de Interés: Redes computacionales, cloud, big data
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Heber Samuel -->

            </div>
            <!-- Docente -->

            <!-- Estudiantes -->
            <div id="estudiantes" class="row align-center yogurt-defase p-2 mt-5 mb-5 m-3">
                <div class="col-md-12">
                    <h2>Estudiantes</h2>
                    <hr>
                </div>

                <!-- Pacheco Torres -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/pachecotorres_1.jpeg" alt="Pacheco Torres">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Luis Enrique Pacheco Torres</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                a17490487@itmexicali.edu.mx <br>
                                Ingeniería en Sistemas Computacionales <br>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Pacheco Torres -->

                <!-- Baldo Campos -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/IngBaldoCampos.jpg" alt="Baldo Campos">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Baldo Alberto Campos Leal</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                a16170001@itmexicali.edu.mx <br>
                                Ingeniería en Sistemas Computacionales
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Baldo Campos -->

                <div class="col-md-12">
                    <hr>
                </div>

                <!-- Gabriel Lee -->
                <div class="col-md-5 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/img/posgrado/personal/IngGabrielLee.jpeg" alt="Gabriel Lee">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <b>Gabriel Lee Álvarez Rosado</b> <br>
                                <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/000000/new-post.png" alt="new-post"/>
                                a16490944@itmexicali.edu.mx <br>
                                Ingeniería en Electrónica<br>
                                Áreas de Interés: Electrónica, programación, microcontroladores.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Gabriel Lee-->

            </div>
            <!-- Estudiantes -->

            <!-- Maestría En Sistemas Computacionales -->
            <div id="m_sistemas" class="row yogurt-defase p-2 mt-5 mb-5 m-3">

                <div class="col-md-12">
                    <h2>Maestría En Sistemas Computacionales</h2>
                    <hr>
                </div>

                <div class="col-md-6 p-2">
                    <p>
                        <b>Orientación profesional</b> <br>
                        <li>Programa Perteneciente al Padrón Nacional de Posgrados de Calidad de CONACYT</li> <br> 

                        
                        <b>Línea de Investigación</b> <br>
                        <li>Internet de las cosas</li> <br>
                        

                        <b>Objetivos</b> <br>

                        Formar recursos humanos del más alto nivel en las 
                        áreas afines a las ciencias computacionales, para 
                        realizar investigación científica y tecnológica 
                        original con impacto en los sectores social, económico, 
                        gubernamental y académico. <br> <br>


                        <b>Perfil Profesional</b> <br>

                        El egresado del programa de Maestría en Sistemas Computacionales será capaz de: <br>

                        Estar actualizado en conocimientos científicos y tecnológicos de las ciencias computacionales y áreas acordes
                        Utilizar técnicas, herramientas y conocimientos avanzados para la solución de problemas de interés regional, nacional e internacional
                        Llevar a cabo investigación en temas de relevancia científica y tecnológica
                        Analizar, evaluar, diseñar y mejorar sistemas o productos innovadores aplicando ciencia y tecnología de alto nivel
                        Difundir e impulsar el conocimiento científico y tecnológico en su entorno
                        Comunicar ideas de forma oral o escrita, de manera efectiva, en foros académicos, científicos y tecnológicos
                    </p>
                </div>
                
                <div class="col-md-6 p-2">
                    <b>Requisitos de Ingreso</b>
                    <ul>
                        <li>Estar titulado de alguna carrera afín</li>
                        <li>Contar con asesor y anteproyecto de tesis</li>
                        <li>Aprobar curso propedéutico</li>
                        <li>Aprobar examen de admisión</li>
                        <li>Entrevistarse con el Comité de Admisión</li>
                        <li>Ser estudiante de tiempo-completo</li>
                        <li>Hacer pago de inscripción y colegiatura</li>
                    </ul>

                    <b>Requisitos de Permanencia</b>
                    <ul>
                        <li>Mantener promedio mínimo de 80</li>
                        <li>No reprobar más de una asignatura</li>
                        <li>Ser estudiante de tiempo-completo</li>
                    </ul>
                    
                    <b>Requisitos de Egreso</b>
                    <ul>
                        <li>Concluir 100% de los créditos del programa</li>
                        <li>Desarrollar tesis original</li>
                        <li>Presentar y aprobar examen de defensa de tesis</li>
                        <li>Promedio mínimo: 80</li>
                        <li>Aprobar examen de suficiencia de dominio del idiomas inglés (TOEFL 500 puntos)</li>
                        <li>Contar con una publicación relacionada con su tema de tesis</li>
                        <li>Tiempo máximo para la obtención del grado: 2 años</li>
                    </ul>
                </div>
                
                <div class="col-md-4 p-2">
                    <b>Asignaturas Básicas</b>
                    <ul>
                        <li>Matemáticas Discretas (MPSCO-0101)</li>
                        <li>Probabilidad y Estadística ( MPSCO-0104)</li>
                        <li>Tecnologías de Programación (MPSCO-0103)</li>
                        <li>Análisis y Diseño de Algoritmos (MPSCO-0102)</li>
                    </ul>
                </div>

                <div class="col-md-4 p-2">
                    <b>Asignaturas Optativas</b>
                    <ul>
                        <li>Temas avanzados de programación (MPSCO-0201)</li>
                        <li>Tecnologías de Internet (MPSCO-0202)</li>
                        <li>Temas selectos I (MPSCO-0203)</li>
                        <li>Temas selectos II (MPSCO-0204)</li>
                        <li>Reconocimiento de Patrones (MPSCO-0208)</li>
                        <li>Minería de Datos (MPSCO-0207)</li>
                        <li>Programación para Dispositivos Móviles (MPSCO-0205)</li>
                        <li>Arquitectura Orientada a Servicios (MPSCO-0206)</li>
                    </ul>
                </div>

                <div class="col-md-4 p-2">
                    <b>Seminarios</b>
                    <ul>
                        <li>Seminario I (MPSCO-0301)</li>
                        <li>Seminario II (MPSCO-0302)</li>
                        <li>Seminario III (MPSCO-0303)</li>
                    </ul>
                </div>

                <div class="col-md-12 p-2">
                    <img width="100%" src="/img/posgrado/personal/Reticula_MSC_2011.jpg" alt="Reticula">
                </div>

            </div>
            <!-- Maestría En Sistemas Computacionales -->

            <!-- Maestría En Electronica -->
            <div id="m_electronica" class="row yogurt-defase p-2 mt-5 mb-5 m-3">

                <div class="col-md-12">
                    <h2>Maestría En Electronica</h2>
                    <hr>
                </div>

                <div class="col-md-6 p-2">
                    <b>Dirigido a:</b> <br>
                    Profesionistas que cuenten con grado de licenciatura 
                    en las áreas de ingeniería en electrónica, 
                    ingeniería mecatrónica, ingeniería en computación, 
                    ingeniería en sistemas computacionales o programas afines, 
                    que estén interesados en la investigación científica teórica y aplicada.<br> 

                    
                    <b>Objetivos</b> <br>
                    Formar recursos humanos del más alto nivel 
                    en las áreas afines a la electrónica, para 
                    realizar investigación científica y tecnológica
                    original con impacto en los sectores social, económico,
                    gubernamental y académico.<br>
                    

                    <b>Perfil Profesional</b> <br>

                    El egresado del programa de Maestría en Electrónica será capaz de:

                    <ul>
                        <li>
                        Estar actualizado en conocimientos científicos y 
                        tecnológicos de las ciencias electrónicas y áreas acordes.
                        </li>
                        <li>
                        Utilizar técnicas, herramientas y conocimientos avanzados 
                        para la solución de problemas de interés regional, nacional e 
                        internacional.
                        </li>
                        <li>
                        Llevar a cabo investigación en temas de relevancia científica y 
                        tecnológica.
                        </li>
                        <li>
                        Analizar, evaluar, diseñar y mejorar sistemas o productos 
                        innovadores aplicando ciencia y tecnología de alto nivel.
                        </li>
                        <li>
                        Difundir e impulsar el conocimiento científico y tecnológico 
                        en su entorno.
                        </li>
                        <li>
                        Comunicar ideas de forma oral o escrita, de manera efectiva, 
                        en foros académicos, científicos y tecnológicos.
                        </li>
                    </ul>

                    <b>Requisitos De Ingreso</b>
                    <ul>
                        <li>Estar titulado de alguna carrera afín</li>
                        <li>Contar con asesor y anteproyecto de tesis</li>
                        <li>Aprobar curso propedéutico</li>
                        <li>Aprobar examen de admisión</li>
                        <li>Entrevistarse con el Comité de Admisión</li>
                        <li>Hacer pago de inscripción y colegiatura</li>
                    </ul>
                </div>
                
                <div class="col-md-6 p-2">
                    <b>Requisitos de Permanencia</b>
                    <ul>
                        <li>Mantener promedio mínimo de 80</li>
                        <li>No reprobar más de una asignatura</li>
                    </ul>

                    <b>Requisitos De Egreso</b>
                    <ul>
                        <li>Concluir 100% de los créditos del programa</li>
                        <li>Desarrollar tesis original</li>
                        <li>Presentar y aprobar examen de defensa de tesis</li>
                        <li>Promedio mínimo: 80</li>
                        <li>Aprobar examen de suficiencia de dominio del idiomas inglés (TOEFL 500 puntos)</li>
                        <li>Contar con una publicación relacionada con su tema de tesis</li>
                    </ul>

                    <b>Estructura De Programa</b>
                    <ul>
                        <li>Matemáticas Avanzadas</li>
                        <li>Procesamiento de señales</li>
                        <li>Fundamentos de programación</li>
                        <li>Estadística aplicada</li>
                        <li>Instrumentación Virtual</li>
                        <li>Programación Avanzada</li>
                        <li>Informática Industrial</li>
                        <li>Diseño de hardware sobre FPGA para DSP</li>
                        <li>Seminario I, II, III</li>
                        <li>Optativa I, II, III, IV</li>
                    </ul>
                </div>

                <div class="col-md-12 p-2">
                    <img width="100%" src="/img/posgrado/personal/Reticula_MIE_Automatizacion_2011.png" alt="Reticula Automatizacion">
                    <img width="100%" src="/img/posgrado/personal/Reticula_MIE_Comp_Ubic_2011.png" alt="Reticula Computacion">
                </div>

            </div>
            <!-- Maestría En Electronica -->

            <!-- Convocatorias -->
            <div id="convocatorias" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <div class="col-md-12 p-5">
                    <h2>Convocatorias</h2>
                    <hr>
                    <ul style="text-align: left;">
                        <li>
                            <a href="/assets/tec-files/posgrado/Convocatoria Ingreso MSC 2023-2 efirma.pdf">
                            Convocatoria Ingreso MSC 2023-2 efirma.pdf
                            </a>
                        </li>
                        <li>
                            <a href="/assets/tec-files/posgrado/Solicitud Ingreso MSC 2023-2.pdf">
                            Solicitud Ingreso MSC 2023-2.pdf
                            </a>
                        </li>
                        <li>
                            <a href="/assets/tec-files/posgrado/Convocatoria Ingreso MIE 2023-2 efirma.pdf">
                            Convocatoria Ingreso MIE 2023-2 efirma.pdf
                            </a>
                        </li>
                        <li>
                            <a href="/assets/tec-files/posgrado/">
                            Solicitud Ingreso MIE 2023-2.pdf
                            </a>
                        </li>
                        <li>
                            <a href="/assets/tec-files/posgrado/Solicitud Ingreso MIE 2023-2.pdf">
                            Guia EXANI-III 16a edición.pdf
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Convocatorias -->

            <!-- Contacto -->
            <div id="contacto" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <div class="col-md-12 p-4">
                    <h2>Contacto</h2>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Puesto</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Verónica Quintero Rosas</td>
                                <td>Coordinador Académico Maestría en Sistemas Computacionales	</td>
                                <td>coord_msc@itmexicali.edu.mx</td>
                            </tr>
                            <tr>
                                <td>Heber Hernández Tabares</td>
                                <td>Coordinador académico, maestría en electrónica</td>
                                <td>coord_mie@itmexicali.edu.mx</td>
                            </tr>
                            <tr>
                                <td>Mario Camarillo Ramos</td>
                                <td>Jefe de la división de posgrado</td>
                                <td>posgrado@itmexicali.edu.mx</td>
                            </tr>
                            <tr>
                                <td>Inna L. Urías Murillo</td>
                                <td>Secretaria de la división de posgrado</td>
                                <td>sec_posgrado@itmexicali.edu.mx</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <br>

                    <b>Información De Contacto</b> <br>
                    División de Estudios de Posgrado e 
                    Investigación del Instituto Tecnológico de Mexicali <br>
                    Av Tecnológico s/n Col. Elias Calles <br>
                    C.P. 21397, Mexicali, Baja California, Mexico <br>
                    Teléfono: (686) 580 4950 <br> <br>


                    <b>Coordinacion </b> <br>
                    veronicaquintero@itmexicali.edu.mx
                </div>
            </div>
            <!-- Contacto -->

            <!-- Finale 
            <div id="content2" class="row yogurt-defase m-3 p-2">
                <div class="col-md-8 mx-auto" style="text-align: center;">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.:</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 align-center">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Sunt veniam veritatis neque molestias, fuga explicabo 
                            dolorum id maiores ullam ea numquam necessitatibus 
                            fugiat atque! Voluptatibus qui id accusamus dolor consequuntur.
                        </div>
                    </div>
                    
                </div>
                
            </div>
            Finale -->
        </div>
        <!-- Content -->

        

    </div>
</div>