@charset "UTF-8";

.bg-tecnm {
	background-color: #eeeeee !important;
	color: #fff !important;
}

.bg-tecnm-2 {
	background-color: #1b396a !important;
	color: #fff !important;
}

.text-tecnm {
	color: #1B396A !important;
}

/* Redes Sociales Lateral */
.sticky-container {
	padding: 0px;
	margin: px;
	position: fixed;
	right: -135px;
	bottom: 38%;
	width: 210px;
	z-index: 1100;
}

/*.sticky-container:hover{ right:-135px;}*/
.sticky li {
	list-style-type: none;
	background-color: transparent;
	color: #efefef;
	height: 43px;
	padding: 0px;
	margin: 0px 0px 1px 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.sticky li:hover {
	background-color: #fff;
}

.sticky li:hover {
	margin-left: -115px;
}

.sticky li img {
	float: left;
	margin: 5px 4px;
	margin-right: 5px;
}

.sticky li p {
	padding-top: 5px;
	margin: 0px;
	line-height: 16px;
	font-size: 11px;
}

.sticky li p a {
	text-decoration: none;
	color: #000;
}

.sticky li p a:hover {
	text-decoration: underline;
}

/* Menú Azul */
#main_navbar .dropdown-menu {
	background-color: #1B396A;
}

#main_navbar .dropdown-menu li:before {
	background-color: #1B396A;
}

#main_navbar .dropdown-menu li:after {
	background-color: #1B396A;
}

#main_navbar .dropdown-menu a {
	color: #fff;
}

#barraGobmx {
	z-index: 10012;
}

#main_navbar {
	z-index: 10004;
}

#main_navbar2 {
	z-index: 10008;
}



.align-right {
	display: flex;
	justify-content: flex-end;
}

.align-center {
	display: flex;
	justify-content: center;
}

#desface-noticias {
	margin-top: 20px;
}

.neomorphic-defase {
	color: white;
	border-radius: 10px;
	background: #2f476f;
	box-shadow: 20px 20px 60px #172336,
		-20px -20px 60px #476ba8;
}

.neomorphic-defase-2 {
	color: white;
	background: #2f476f;
	box-shadow: 20px 20px 60px #172336,
		-20px -20px 60px #476ba8;
}

.shadow-xs {
	-webkit-box-shadow: 0px 10px 49px 0px rgba(0, 0, 0, 0.60);
	-moz-box-shadow: 0px 10px 49px 0px rgba(0, 0, 0, 0.60);
	box-shadow: 0px 10px 49px 0px rgba(0, 0, 0, 0.60);
}

.yogurt-defase {
	color: rgb(104, 104, 104);
	border-radius: 20px;
	background: #ffffff;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.stupid-defase {
	color: #303030;
	background-color: #d4d4d4;
	border-radius: 15px;
	/*Stupid Simple Shadow, Simple Black*/
	-webkit-box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.75);
}

.bordered-con {
	background-color: white;
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 0px solid #000000;
}

.hide-scroll::-webkit-scrollbar {
	display: none;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
	width: 18px;
	/* Width of the scrollbar */
}

::-webkit-scrollbar-track {
	background: transparent;
	/* Make scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
	background-color: white;
	/* Color of the scrollbar thumb */
	border-radius: 10px;
	/* Round the corners of the scrollbar thumb */
	border: 3px solid transparent;
	/* Adds some space around the thumb */
	background-clip: content-box;
	/* Clips the thumb to the content box */
}

/* For Firefox */
body {
	scrollbar-width: thin;
	/* Makes the scrollbar thinner */
	scrollbar-color: white transparent;
	/* Scrollbar thumb color white, track color transparent */
}


/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}