body{
	background-color:#e9ecef5c;
	font-family: 'Montserrat', sans-serif;
}

#collapsibleNavbar2>ul>li>div>a:hover {
    background-color:gray;
}
.card-title{
	font-weight: bold;
	font-size: .82rem;
}
.card-text{
	font-size: .85rem;
}
.pleca_gob{
	width: 28%;
}
.pleca_edu{
	width: 28%;
}
.pleca_tecnm{
	width: 20%;	
}
.pleca_tecmxl{
	width: 7%;
}

.sticky-top{
	background-color: #13322b;
}
.menu,.search{
	color:#fff;
}
.sticky-top-2 {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index: 100;
    font-size: .80rem;
	background-color: #1B396A;
}
#letra{
	background-color: #1B396A;
	color: white;
	font-size: 1rem;
}
.footer-copyright{
	background-color: #1b396af0;
}
.main-footer{
	background-image: url(https://framework-gb.cdn.gob.mx/landing/img/fondofooter.jpg); */
    height: auto;
    background-size: cover;
}
a {
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

div.carousel-item>a>img {
height: 24rem;
  }
.gray, .interes .card{
	
	border-radius:15px;
    background-color: #dadee5c2;
    border: none;
}
.interes .slide .card img{
	border-radius:15px;
	border:2px solid gray;
  
}
.noticias{
 
  height: 11rem;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}
.ir-arriba .material-icons{
	color: blue;
  font-size:50px;
}
.modal-title{
	color: white;
}

.embed-responsive {
   
    width: 75%;
   
}
.fechanot{
  background-color: #1B396A;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom:-16px;
  right:0px;
}

.horas{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle{
  align-items: center;
}

.h-55{
  height: 55%;
}

@media only screen and (min-width: 991px) {
div.main-footer {
	font-size: .9rem
}
.ajuste{
max-width: 750px ;
max-height: 380px;
}

}
@media only screen and (max-width: 990px) {
  .noticias{
 
  height: 15rem;
}
 .sticky-top-2{
	 
  background-color: transparent; 
}
 
.menu{
	color:#000;
}
#collapsibleNavbar2>ul>li>a{
	background-color: #f8fafa;
	color: black;
}
a>img.logo{
	display: none;
}
.pleca_gob{
	width: 30%;
}
.pleca_edu{
	width: 32%;
}
.pleca_tecnm{
	width: 25%;	
}
.pleca_tecmxl{
	width: 7%;
}
div.carousel-item>a>img {
height: 22rem;
  }
  .ajuste{
max-width: 100% ;
max-height: 380px;
}
.embed-responsive {
    width: 100%;
}
}

@media only screen and (max-width: 575px) {
div.carousel-item>a>img {
height: 12rem;
  }
  .logo_footer{
	width: 40%;
}
#collapsibleNavbar2>ul {
    background-color:#1B396A;
     color: white;
}
#collapsibleNavbar2>ul>li>a {
    background-color:#1B396A;
     color: white;
}
#collapsibleNavbar2>ul>li>div {
    background-color:#8a82bd5c;
    
}
.dropdown-item {
    
    color: white;
}
.navbar-nav .nav-link {
    
    padding-left:5px; 
}

.embed-responsive {
   
    width: 100%;
   
}
.noticias{
 
  height: 14rem;
}}