
<!-- Texto de Anuncio Sobre las Convocatorias -->
<p class="conv intro ml-3">    
    <br>
    Convocatorias para participar por el procedimiento de invitación en a cuando menos tres personas:
</p>
<!-- Texto de Anuncio Sobre las Convocatorias -->

<!-- Convocatoria para Servicio de Vigilancia y Seguridad -->
<div class="conv ml-3">
    <div class="conv-banner">
        <h1>
            Convocatoria INV-ITM-01-2023
            <br>ADQUISICIÓN DE EQUIPOS DE AIRE ACONDICIONADO
            <span class="vigente-style" style="color: green;"> 
                VIGENTE 
            </span>
        </h1>
    </div>

    <br>

    <input 
    type="button" 3
    onclick="window.location.href = '/assets/tec-files/invitacion/convocatorias_vigentes/INV-ITM-04-2025.pdf';" 
    class="conv-button"
    value="Convocatoria">
        
</div>
<hr>
<div class="conv ml-3">
    <div class="conv-banner">
        <h1>
            Convocatoria INV-ITM-01-2024
            <br>SERVICIO DE VIGILANCIA Y SEGURIDAD
            <span class="vigente-style" style="color: rgb(128, 0, 0);"> 
                NO VIGENTE 
            </span>
        </h1>
    </div>

    <br>

    <input 
    type="button" 3
    onclick="window.location.href = '/assets/tec-files/invitacion/convocatorias_vigentes/2024-12-04.pdf';" 
    class="conv-button"
    value="Convocatoria">
        
</div>
<hr>
<div class="conv ml-3">
    <div class="conv-banner">
        <h1>
            Convocatoria INV-ITM-02-2024 
            <br>SERVICIO DE JARDINERIA
            <span class="vigente-style" style="color: rgb(128, 0, 0);"> 
                NO VIGENTE 
            </span>
        </h1>
    </div>

    <br>

    <input 
    type="button" 3
    onclick="window.location.href = '/assets/tec-files/invitacion/convocatorias_vigentes/2024-11-21.pdf';" 
    class="conv-button"
    value="Convocatoria">
        
</div>
<hr>
<div class="conv ml-3">
    <div class="conv-banner">
        <h1>
            Convocatoria INV-ITM-03-2024 
            <br>SERVICIO DE LIMPIEZA
            <span class="vigente-style" style="color: rgb(128, 0, 0);"> 
                NO VIGENTE 
            </span>
        </h1>
    </div>

    <br>

    <input 
    type="button" 3
    onclick="window.location.href = '/assets/tec-files/invitacion/convocatorias_vigentes/2024-12-05.pdf';" 
    class="conv-button"
    value="Convocatoria">
        
</div>
<!-- Convocatoria para Servicio de Vigilancia y Seguridad -->
<br>




