<!-- Contenedor encapsulador en el cual se hace todo el grid de bootstrap -->
<div class="container-fluid p-0 ml-0 mr-0 bg-tecnm" >
    <div class="row">
        <!-- Sidebar -->
        <div id="sidebar-holder" class="col-md-2 p-0">
            <div id="collapser" class="d-sm-none d-md-none d-lg-none d-xl-block">
                <a href="#" onclick="toggleSidebar()">
                <img id="collapser-icon" width="35" height="35" src="https://img.icons8.com/ios-filled/50/FFFFFF/double-left.png" alt="double-left"/>
                </a>
            </div>

            <div id="sidebar" class="col-md-12 d-sm-none d-md-none d-lg-none d-xl-block">  
                <div class="sidebar-separator item-style">
                    <span>Main Menu</span>
                </div>
                
                <div class="item-style">
                    <a href="#" onclick="contentToggle('quienes')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/FFFFFF/user--v1.png" alt="user--v1"/>        
                        ¿Quiénes somos?
                    </a>
                </div>

                <div class="item-style">
                    <a href="#" onclick="toggleSubmenu('reglamento')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/FFFFFF/user--v1.png" alt="user--v1"/>        
                        Reglamentos
                    <img id="reglamento" class="submenu-button" width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/expand-arrow--v1.png" alt="expand-arrow--v1"/>
                    </a>
                </div>

                <div class="submenu reglamento item-style d-none">
                    <a href="/assets/tec-files/reglamentos/LEY Federal de los Trabajadores al Servicio del Estado.pdf">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/fire-element--v1.png" alt="fire-element--v1"/>        
                    LEY Federal de los Trabajadores al Servicio del Estado
                    </a>
                </div>

                <div class="submenu reglamento item-style d-none">
                    <a href="/assets/tec-files/reglamentos/LEY DEL ISSSTE.pdf">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                    LEY DEL ISSSTE
                    </a>
                </div>

                <div class="submenu reglamento item-style d-none">
                    <a href="/assets/tec-files/reglamentos/CondicioonesGralTrabSEP.pdf">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                    Condiciones Grales de Trabajo (SEP)
                    </a>
                </div>

                <div class="submenu reglamento item-style d-none">
                    <a href="/assets/tec-files/reglamentos/ManualOrgTecnm.pdf">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                    Manual Organizacional TECNM
                    </a>
                </div>

                <div class="submenu reglamento item-style d-none">
                    <a href="/assets/tec-files/reglamentos/manualorganizacion.pdf">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                    Manual Organizacional IT's
                    </a>
                </div>
                
                <div class="item-style">
                    <a href="#" onclick="toggleSubmenu('tramites')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/FFFFFF/user--v1.png" alt="user--v1"/>        
                    Tramites
                    <img id="tramites" class="submenu-button" width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/expand-arrow--v1.png" alt="expand-arrow--v1"/>
                    </a>
                </div>
                
                <div class="submenu tramites item-style d-none">
                    <a href="#" onclick="contentToggle('pagaduria')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                    Pagaduria
                    </a>
                </div>

                <div class="submenu tramites item-style d-none">
                    <a href="#" onclick="contentToggle('diasecon')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                    Dias Economicos
                    </a>
                </div>

                <div class="item-style">
                    <a href="#" onclick="toggleSubmenu('prestaciones')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/FFFFFF/user--v1.png" alt="user--v1"/>        
                    Prestaciones
                    <img id="prestaciones" class="submenu-button" width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/expand-arrow--v1.png" alt="expand-arrow--v1"/>
                    </a>
                </div>
                
                <div class="submenu prestaciones item-style d-none">
                    <a href="#" onclick="contentToggle('p-general')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                    Prestaciones Generales
                    </a>
                </div>

                <div class="submenu prestaciones item-style d-none">
                    <a href="#" onclick="contentToggle('licencias')">
                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/door.png" alt="door"/>     
                    Licencias
                    </a>
                </div>
                
            </div>
        </div>
        <!-- Sidebar -->

        <!-- Content -->
        <div id="content-holder" class="col-md-9 mx-auto m-4">
            <!-- Renglon 'Header' que presenta el nombre del departamento -->
            <div id="main-title" class="row align-center p-5 m-3 yogurt-defase">
                <!-- Titulo -->
                <div class="col-md-12 align-center">
                    <h1>Recursos Humanos</h1> 
                </div>
            </div>
            <!-- Renglon 'Header' que presenta el nombre del departamento -->
            
            <!-- Quienes Somos -->
            <div id="quienes" class="row align-center yogurt-defase p-2 mt-5 mb-5 m-3">
                <div class="col-md-5 m-3 p-3">
                    <h2>Directorio</h2>
                    <hr>
                    <b>M.C. Carlos Alberto López Castellanos</b> <br>
                    <i>Jefe de Recursos Humanos</i> <br>
                    01 686 5804966 <br>
                    humanos@itmexicali.edu.mx <br>
                    <hr>
                    <b>C. Silvia García Flores</b> <br>
                    <i>Oficina de Nómina</i> <br>
                    01 (686) 5804991<br>
                    <hr>
                    <b>Lic. Norma Esthela Díaz Espinoza</b> <br>
                    <i>Secretaria</i> <br>
                    01 (686) 5804965<br>
                    <hr>
                </div>

                <div class="col-md-5 m-3 p-3">
                    <h2>Servicios al Personal</h2>  
                    <hr>
                    <b>Lic. Gabriela Noemí Castro Millán</b> <br>
                    <i>Jefe de la Oficina de Servcios al Personal</i> <br>
                    01 (686) 5804992 <br>
                    <hr>
                    <b>M.D. Guadalupe Alcaraz Fernández</b> <br>
                    <i>Auxiliar de Prestaciones</i> <br>
                    01 (686) 5804965<br>
                    <hr>
                </div>

                <div class="col-md-5 m-3 p-3">
                    <h2>Registro y Control</h2>  
                    <hr>
                    <b>Lic. Manuel Enrique Aveces Ruiz</b> <br>
                    <i>Jefe de la Oficina de Registro y Controles</i> <br>
                    01 (686) 5804965 <br>
                    <hr>
                </div>
                
                <div class="col-md-5 m-3 p-3">
                    <h2>Movimientos de plaza</h2>  
                    <hr>
                    <b>C. Claudia Elizabeth López Ayala</b> <br>
                    <i>Jefe de la Oficina de Servcios al Personal</i> <br>
                    01 (686) 5804965 <br>
                    <hr>
                </div>
            </div>
            <!-- Quienes Somos -->

            <!-- Pagaduria -->
            <div id="pagaduria" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <div class="col-md-12">
                    <h2>Tramites de Pagaduria</h2>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Trámite</th>
                            <th scope="col">Documentación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Cambio de Clabe Interbancaria
                                (Mismo banco o banco diferente)</th>
                                <td>
                                Clabe interbancaria en hoja membretada del banco <br>
                                Último comprobante de pago <br>
                                Copia del INE <br>
                                Copia de la nueva tarjeta bancaria <br>
                                Copia del contrato del banco
                                </td>
                            </tr>
                            <tr>
                                <th>Reclamo de pago</th>
                                <td>
                                Solicitud del interesado que incluya
                                <ol>
                                    <li>Nombre completo</li>
                                    <li>RFC</li>
                                    <li>CURP</li>
                                    <li>Clave de la plaza donde solicita el reclamo</li>
                                    <li>Especificar el concepto (Aguinaldo, Sueldo, etc)</li>
                                    <li>Efectos del reclamo</li>
                                </ol>
                                Constancia de nombramiento de la(s) plaza(s) donde se está realizando el reclamo
                                </td>
                            
                            </tr>
                            <tr>
                            
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            <!-- Pagaduria -->

            <!-- Dias Economicos -->
            <div id="diasecon" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <div class="col-md-12">
                    <h2>Dias Economicos</h2>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Trámite</th>
                            <th scope="col">Documentación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><b>Días Económicos</b> <br> <br>
                                Artículo 52 fracción III del Reglamento 
                                de las Condiciones Generales de Trabajo 
                                del Personal de la SEP</th>
                                <td>
                                Personal docente y de apoyo y 
                                asistencia a la educación 
                                con tipo de nombramiento definitivo 
                                (C-10) o provisional (C-95) <br>

                                <ul>
                                    <li>Tener puesto de base</li>
                                    <li>Tener más de 6 meses de servicio</li>
                                    <li>
                                        Solicitarla antes de la fecha en que se 
                                        inicien con 48 horas de anticipación.
                                    </li>
                                    <li>
                                        Debe contar con la autorización del Jefe de 
                                        División, Departamento o Centro en donde haya 
                                        sido adscrito el trabajador
                                    </li>
                                    <li>
                                        NO pueden estar comprendidos en los 5 días hábiles anteriores 
                                        o posteriores al período de vacaciones.
                                    </li>
                                    <li>
                                        Contar con el visto bueno del Departamento 
                                        de Personal del Instituto Tecnológico.
                                    </li>
                                </ul>
                                
                                Hasta 3 días en 3 ocasiones separados
                                cuando menos por un mes
                                </td>
                            </tr>        
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            <!-- Dias Economicos -->

            <!-- Prestaciones -->
            <div id="p-general" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <div class="col-md-12">
                    <h2>Prestaciones Generales</h2>
                    <p>
                    Prestaciones para el personal cuyo nombramiento 
                    en la(s) plaza(s) que ostente sea Definitivo (C-10), 
                    Provisional (C-95) y Prórroga de Nombramiento (C-97).  
                    </p>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Trámite</th>
                            <th scope="col">Documentación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>ESTÍMULO POR ANTIGÜEDAD</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>GRATIFICACION POR JUBILACIÓN</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>PAGO POR RENUNCIA</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>PAGO POR INVALIDEZ</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>PAGO POR RENUNCIA POR DEFUNCIÓN</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>PAGO POR DEFUNCIÓN</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>PRÓTESIS</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>APARATOS ORTOPEDICOS O AUDITIVOS</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>CANASTILLA MATERNAL</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>MODIFICACION DE DATOS PERSONALES</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>MODIFICACION DE FECHAS DE INGRESO</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>ALTA EN PRIMA DE ANTIGUEDAD</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>CORRECION DE PRIMA DE ANTIGUEDAD</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>GUARDERIA</th>
                                <td>
                                
                                </td>
                            </tr>
                            <tr>
                                <th>HOJA UNICA DE SERVICIOS</th>
                                <td>
                                
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            <!-- Prestaciones -->

            <!-- Licencias -->
            <div id="licencias" class="row yogurt-defase p-2 mt-5 mb-5 m-3">
                <div class="col-md-12">
                    <h2>Licencias</h2>
                    <p>
                    Las licencias solicitadas por los trabajadores se disfrutarán a partir
                    de la fecha en que le sea autorizada por escrito por el titular de su
                    Unidad Administrativa o el Coordinador Administrativo 
                    </p>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Trámite</th>
                            <th scope="col">Documentación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- LICENCIAS POR ASUNTOS PARTICULARES -->
                            <tr>
                                <td>
                                    LICENCIAS POR ASUNTOS PARTICULARES
                                    (sin goce de sueldo)
                                    <ul>
                                        <li>                                
                                            Una vez dentro de cada año natural y siempre 
                                            que no tengan nota desfavorable en su expediente
                                        </li>
                                        <li>                                
                                            Hasta de 30 días a los que tengan un año de servicios
                                        </li>
                                        <li>                                
                                            Hasta de 90 días a los que tengan de uno a cinco años de servicios
                                        </li>
                                        <li>                                
                                            Hasta de 180 días a los que tengan más de cinco años.
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                <b>Personal con nombramiento definitivo (C-10)</b> <br>
                                Solicitud del empleado dirijida al director 
                                con copia al sindicato, debe contener:
                                <ul>
                                    <li>Nombre</li>
                                    <li>RFC</li>
                                    <li>Periodo Solicitado</li>
                                    <li>Plazas Afectadas</li>
                                </ul>
                                Hoja de servicios que indique que no 
                                cuenta con notas desfavorables <br>

                                Si es nueva solicitud, después de una 
                                licencia mayor de 90 días, 
                                el interesado debe haber laborado 
                                cuando menos seis meses desde la anterior
                                </td>
                            </tr>
                            <!-- LICENCIA PARA DESEMPEÑO DE PUESTOS DE ELECCION POPULAR -->
                            <tr>
                                <td>
                                    LICENCIA PARA DESEMPEÑO DE PUESTOS DE ELECCION POPULAR
                                    (Sin goce de sueldo)
                                </td>
                                <td>
                                <b>Personal con nombramiento definitivo (C-10)</b> <br>
                                Solicitud del empleado dirijida al director 
                                con copia al sindicato, debe contener:
                                <ul>
                                    <li>Nombre</li>
                                    <li>RFC</li>
                                    <li>Periodo Solicitado</li>
                                    <li>Plazas Afectadas</li>
                                    <li>Cargo de Eleccion Popular</li>
                                </ul>
                                Solicitud con un mes de anticipación
                                Constancia del cargo de elección popular 
                                que haya obtenido

                                Anualmente el trabajador deberá justificar 
                                que subsiste el cargo por el que le fue 
                                concedida la licencia
                                </td>
                            </tr>
                            <!-- LICENCIA POR PASAR A OTRO EMPLEO -->
                            <tr>
                                <td>
                                LICENCIA POR PASAR A OTRO EMPLEO
                                (Sin goce de sueldo)
                                </td>
                                <td>
                                <b>Personal con nombramiento definitivo (C-10)</b> <br>
                                Solicitud del empleado dirijida al director con copia 
                                al sindicato, con un mes de anticipación, debe contener:
                                <ul>
                                    <li>Nombre</li>
                                    <li>RFC</li>
                                    <li>Periodo Solicitado</li>
                                    <li>Plazas Afectadas</li>
                                    <li>Puesto a Ocupar Indicando la Unidad Administrativa</li>
                                </ul>
                                Presentar constancia de la unidad administrativa 
                                donde laborará en la cual deberá especificar 
                                el puesto de confianza que va a ocupar

                                Anualmente el trabajador deberá justificar 
                                que subsiste el cargo por el que le fue 
                                concedida la licencia
                                </td>
                            </tr>
                            <!-- LICENCIA COMISION SINDICAL -->
                            <tr>
                                <td>
                                LICENCIA COMISION SINDICAL
                                (Sin goce de sueldo)
                                </td>
                                <td>
                                <b>Personal con nombramiento definitivo (C-10)</b> <br>
                                Solicitud del empleado dirijida al director 
                                con copia al sindicato, con un mes de anticipación, debe contener:
                                <ul>
                                    <li>Nombre</li>
                                    <li>RFC</li>
                                    <li>Periodo Solicitado</li>
                                    <li>Plazas Afectadas</li>
                                </ul>

                                Anualmente el trabajador deberá justificar 
                                que subsiste el cargo por el que le fue 
                                concedida la licencia
                                </td>
                            </tr>
                            <!-- LICENCIA POR CRIANZA DE HIJOS MENORES DE DOS AÑOS -->
                            <tr>
                                <td>
                                LICENCIA POR CRIANZA DE HIJOS MENORES DE DOS AÑOS
                                (Sin gonce de sueldo)
                                </td>
                                <td>
                                <b>Personal con nombramiento definitivo (C-10)</b> <br>
                                Solicitud del empleado dirijida al director 
                                con copia al sindicato, con un mes de anticipación, debe contener:
                                <ul>
                                    <li>Nombre</li>
                                    <li>RFC</li>
                                    <li>Periodo Solicitado</li>
                                    <li>Plazas Afectadas</li>
                                </ul>

                                Copia certificada del acta de nacimiento
                                del hijo menor de 2 años <br>
                                <i>Hasta por un año</i>
                                </td>
                            </tr>
                            <!-- LICENCIAS MEDICAS - 1 -->
                            <tr>
                                <td>
                                LICENCIAS MEDICAS <br>
                                Por enfermedades no profesionales a juicio de los médicos de la Secretaría
                                Condiciones generales de trabajo para los trabajadores de la SEP
                                </td>
                                <td>
                                <b>Personal con nombramiento  (C-10, C-95)</b>
                                <ul>
                                    <li>
                                    Si el trabajador tiene por lo menos 
                                    seis meses de servicio, hasta 15 días 
                                    con sueldo íntegro; hasta 15 días más 
                                    con medio sueldo y hasta un mes sin goce de sueldo;
                                    </li>
                                    <li>
                                    A los que tengan de uno a cinco años de servicios 
                                    hasta 30 días con goce de sueldo integro, 
                                    hasta 30 días más con medio sueldo y hasta 
                                    60 días más sin goce de sueldo;
                                    </li>
                                    <li>
                                    A los que tengan de 5 a 10 años de servicios hasta 
                                    45 días con medio sueldo y a 90 más sin sueldo;
                                    </li>
                                    <li>
                                    A los que tengan de 10 años en adelante, hasta 
                                    60 días con goce de sueldo integro, a otros 
                                    60 días con medio sueldo y a 180 días más sin sueldo. 
                                    </li>
                                </ul>
                                
                                La licencia será continua o discontinua, una sola vez 
                                cada año contando a partir del momento que se tomó 
                                posesión del puesto.
                                </td>
                            </tr>
                            <!-- LICENCIAS MEDICAS - 2 -->
                            <tr>
                                <td>
                                    LICENCIAS MEDICAS <br>
                                    Por enfermedades profesionales
                                    Condiciones generales de trabajo para los trabajadores de la SEP
                                </td>
                                <td>
                                <b>Personal con nombramiento  (C-10, C-95)</b>
                                <ul>
                                    <li>
                                    Durante todo el tiempo seis meses como máximo 
                                    que sea necesario para el restablecimiento del 
                                    trabajador y en la inteligencia de que su reingreso 
                                    y la indemnización que le corresponda en su caso se 
                                    ajustarán a lo dispuesto por la Ley Federal del Trabajo.
                                    </li>
                                </ul>
                                </td>
                            </tr>
                            <!-- LICENCIA POR GRAVIDEZ -->
                            <tr>
                                <td>
                                LICENCIA POR GRAVIDEZ <br>
                                Artículo 28 de la Ley Federal de los Trabajadores al Servicio del Estado
                                </td>
                                <td>
                                <ul>
                                    <li>
                                    Trabajadoras en Estado de Gravidez
                                    </li>
                                    <li>
                                    Resentar Constancia Médica del ISSSTE
                                    </li>
                                    <li>
                                    Duración: 3 meses
                                    </li>
                                </ul>
                                </td>
                            </tr>
                            <!-- LICENCIA PREPENCIONARIA -->
                            <tr>
                                <td>
                                LICENCIA PREPENCIONARIA <br>
                                Artículo 28 de la Ley Federal de los Trabajadores al Servicio del Estado
                                </td>
                                <td>
                                <b>Personal con nombramiento definitivo (C-10)</b>
                                <ul>
                                    <li>
                                    Hoja única de servicio que compruebe 
                                    tener los años de servicios efectivos 
                                    prestados requeridos por el ISSSTE para pensionarse.
                                    </li>
                                    <li>Solicitud con 15 días de anticipación</li>
                                    <li>
                                    Renuncia de empleo que ocupe que coincida 
                                    con el término de la licencia
                                    </li>
                                    <li>Improrrogable e irrenunciable</li>
                                </ul>
                                Duración: 3 meses
                                </td>
                            </tr>
                            <!-- LICENCIA POR INVALIDEZ -->
                            <tr>
                                <td>
                                LICENCIA POR INVALIDEZ <br>
                                Artículo 28 de la Ley Federal de los Trabajadores al Servicio del Estado
                                </td>
                                <td>
                                <ul>
                                    <li>Personal docente y de apoyo y asistencia a la educación</li>
                                    <li>Dictámen Médico</li>
                                </ul>
                                </td>
                            </tr>
                            <!-- LICENCIA POR ACUERDO PRESIDENCIAL 529 -->
                            <tr>
                                <td>
                                LICENCIA POR ACUERDO PRESIDENCIAL 529 <br>
                                Acuerdo Presidencial del 28 de febrero de 1953
                                </td>
                                <td>
                                <ul>
                                    <li>
                                    Personal docente y de apoyo y asistencia 
                                    a la educación tipo de nombramiento definitivo, 
                                    provisional, alta en confianza (códigos 10, 95 ó 96 respectivamente)
                                    </li>
                                    <li>Certificado médico del ISSSTE</li>
                                    <li>Duración 3 meses</li>
                                </ul>
                                </td>
                            </tr>
                            <!-- LICENCIA POR ACUERDO PRESIDENCIAL 754 -->
                            <tr>
                                <td>
                                LICENCIA POR ACUERDO PRESIDENCIAL 754 <br>
                                Acuerdo Presidencial del 27 de marzo de 1947
                                </td>
                                <td>
                                <ul>
                                    <li>
                                    Personal docente con tipo de nombramiento 
                                    definitivo y provisional(C-10 ó C-95 en plaza sin titular) 
                                    respectivamente.
                                    </li>
                                    <li>
                                    Certificado médico expedido por el ISSSTE que 
                                    determine el tipo de enfermedad, nosología y 
                                    periodo probable de recuperación.
                                    </li>
                                    <li>
                                    Constancia de servicios que compruebe que el trabajador 
                                    cuente con una antigüedad de por lo menos 15 años en el servicio docente.
                                    </li>
                                    <li>Duración 3 meses</li>
                                </ul>
                                </td>
                            </tr>
                            <!-- LICENCIA MEDICA - 3 -->
                            <tr>
                                <td>
                                LICENCIA MEDICA (DIAS DE VACACIONES NO DISFRUTADOS) <br>
                                Minuta de Acuerdos SEPSNTE para el personal de los Subsistemas Centrales de la SEP del Modelo de Educación Media Superior y
                                Superior (8 de septiembre de1989)
                                </td>
                                <td>
                                <ul>
                                    <li>
                                    Personal de apoyo y asistencia a la educación del Catálogo Institucional de Puestos y personal docente y de apoyo y asistencia a la educación
                                    </li>
                                    <li>
                                    adscrito a los Subsistemas Centrales de Educación Media Superior y Superior con tipo de nombramiento (C-10), (C-95) o (C-97)
                                    </li>
                                    <li>
                                    Licencia médica expedida por el ISSSTE
                                    </li>
                                    <li>
                                    Según el número de días de vacaciones no disfrutados
                                    </li>
                                </ul>
                                </td>
                            </tr>
                            <!-- PERMISO POR ENFERMEDAD DE CONYUGE O HIJOS -->
                            <tr>
                                <td>
                                PERMISO POR ENFERMEDAD DE CONYUGE O HIJOS <br>
                                Minuta de Acuerdos SEPSNTE para el personal 
                                docente y de apoyo y asistencia a la educación 
                                adscrito a los Subsistemas <br>
                                Centrales de la SEP del Modelo de Educación 
                                Media Superior y Superior de fecha 25 de abril de 2001
                                </td>
                                <td>
                                Personal docente y de apoyo y asistencia a la educación adscrito a los Subsistemas Centrales de Educación Media Superior y Superior
                                con tipo de nombramiento (C-10),(C-95) o (C-97) <br>

                                Estar en servicio activo al momento de solicitar la prestación. <br>

                                Que el cónyuge o los hijos dependan económicamente del trabajador. <br>

                                Copia del acta de matrimonio o de nacimiento del hijo según corresponda. <br>

                                Dictamen médico expedido por el ISSSTE que certifique 
                                que la enfermedad del cónyuge o del hijo requiere atención 
                                especial por parte del trabajador. <br>

                                Hasta 8 dias al año natural
                                </td>
                            </tr>    
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            <!-- Licencias -->


        </div>
        <!-- Content -->

    </div>
</div>