<meta charset="UTF-8">
<title><%- title %></title>
<meta name="author" content="TecNM">
<meta name="description" content="Página del Tecnológico Nacional de México">
<meta name="keywords"
    content="TecNM, Instituto Tecnológico Nacional de México, Tec, Tecnológico Nacional de México, Universidad" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta name="copyright" content="TecNM" />
<meta name="robots" content="ALL">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href="img/favicon/tecnm.ico" />

<!-- CSS Bootstrap -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

<!-- Mis estilos -->
<link rel="stylesheet" href="css/general_styles.css">

<!-- Iconos con Font Awesome -->
<script src="https://kit.fontawesome.com/8562bd2fa0.js" crossorigin="anonymous"></script>

<!-- Se agrega para poder usar las fuentes en el css -->
<link rel="stylesheet" href="assets/files/main/css/estilo-compresion.min.css">

<!-- Estilo del carrucel -->
<link rel="stylesheet" href="css/index_styles.css">;

<!-- Desface -->
<script src="/assets/web/assets/jquery-3.2.1/jquery.js"></script>

<!-- PDF View -->
<script src="/js/pdf.js"></script>

<!-- Swiffy Slider -->
<script src="/js/swiffy-slider/swiffy-slider.min.js"></script>
<link href="/css/swiffy-slider/swiffy-slider.min.css" rel="stylesheet">

<link rel="stylesheet" href="/css/sidebar/sidebar.css">
<link rel="stylesheet" href="/css/timeline.css">
<link rel="stylesheet" href="/css/card.css">

<!-- Sub Menú -->
<link rel="stylesheet" href="css/navbar.css">

<script src="/assets/web/assets/jquery-1.11.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>