.Semestre td a {
    display: block;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.Sem-1 {
    background-color: #2757a5 ;
}

.Sem-2 {
    background-color: #2757a5 ;
}

.Sem-3 {
    background-color: #2757a5 ;
}

.Sem-4 {
    background-color: #2757a5 ;
}

.Sem-5 {
    background-color: #2757a5 ;
}

.Sem-6 {
    background-color: #2757a5 ;
}

.Sem-7 {
    background-color: #2757a5 ;
}

.Sem-8 {
    background-color: #2757a5 ;
}

.Sem-9 {
    background-color: #2757a5 ;
}