body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
@media print {
  * { 
    margin: 0 !important; padding: 0 !important; 
  }
  #controls, .footer, .footerarea{ 
    display: none;
  }
  html, body, h3,h2,h1 {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 
    overflow: hidden;
    background: #FFF; 
    font-size: 9.5pt;
    padding-bottom: 15 !important;
  }
  .template { 
    width: auto; left:0; top:0; 
  }
  img { 
    width:50%; padding-bottom:50px !important 
  }
  #encabezado {
   width:100%;
  }	
  li { 
    margin: 0 0 10px 20px !important;
  }
  #imprimir	{ 
    display: none; 
  }
}