.btn_desplegar_seccion
{
    border-radius: 5px; 
    top: 10%; 
    margin-left: 91.5%; 
    width: 8%; 
    height: 85%; 
    background-image: url("img/iconfinder_icon-arrow-down-b_211614.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.div_lista_secciones
{
    width: 100%;
    border-radius: 6px; 
    border-width: 1px;
    height: 50%;
}

.clearfix
{
    overflow: auto;
}

.ul_secciones
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;

}

.li_secciones
{
	float: left;
    margin-left: 2%;
    margin-top: 1%;
    width: 96%;
}

#Inicio
{
    text-decoration: none;
    color: rgb(161, 162, 165);
}

#Inicio:hover
{
    color: rgb(200, 201, 202);
}