
/*#cssmenu {
	border:1px solid #d3d3d3;
	background:#d3d3d3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 0;
	margin-left: 2px;
	margin-right: 2px;
}*/
#cssmenu > ul {
	padding:1px 0px;
	margin:0px;
	list-style:none;
	width:100%;
	height:26px;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	font:bold 9pt verdana, arial, helvetica;
}
#cssmenu > ul li {
	margin:0;
	padding:0px;
	display:block;
	float:left;
	position:relative;
	width:189px;
	z-index: 100;
}
#cssmenu > ul li a:link, #cssmenu > ul li a:visited {
	padding:6px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	background:#d3d3d3;
	/*color:#ffffff;*/
	color:black;
	width:189px;
	height:15px;
}
#cssmenu > ul li:hover a, #cssmenu > ul li a:hover, #cssmenu > ul li a:active {
	padding:6px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	/*background:#0066FF;*/
	background:#6075aa;
	/*color:#ffffff;
	color:white;*/
	width:189px;
	height:15px;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
}
#cssmenu > ul li ul {
	margin:0;
	padding:1px 1px 0;
	list-style:none;
	display:none;
	background:#ffffff;
	width:189px;
	position:absolute;
	top:27px;
	left:0px;
/*	border:1px solid #000099;*/
	border-top:none;
}
#cssmenu > ul li:hover ul {
	display:block;
}
#cssmenu > ul li ul li {
	width:189px;
	clear:left;
	width:189px;
}
#cssmenu > ul li ul li a:link, #cssmenu > ul li ul li a:visited {
	clear:left;
	background:#d3d3d3;
	padding:6px 0;
	width:189px;
	border:none;
	border-bottom:1px solid #ffffff;
	position:relative;
	z-index:1000;
}

		/* Rounded corners for the first link of the menu/submenus */
		/*#cssmenu > ul li:first-child>a {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-top: 0;
		}*/

		/* Rounded corners for the last link of the menu/submenus */
		/*#cssmenu > ul li:last-child>a {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom: 0;
		}*/

#cssmenu > ul li ul li:hover a, #cssmenu > ul li ul li a:active, #cssmenu > ul li ul li a:hover {
	clear:left;
	/*background:#0066FF;*/
	background:#6075aa;
	padding:6px 0;
	width:189px;
	border:none;
	border-bottom:1px solid #ffffff;
	position:relative;
	z-index:1000;
	color:white;
}
#cssmenu > ul li ul li ul.navigation-3 {
	display:none;
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	left:192px;
	top:-2px;
	padding:1px 1px 0 1px;
	border:1px solid #000099;
	border-left:1px solid #000099;
	background:#ffffff;
	z-index:900;
}
#cssmenu > ul li ul li:hover ul.navigation-3 {
	display:block;
}
#cssmenu > ul li ul li ul.navigation-3 li a:link, #cssmenu > ul li ul li ul.navigation-3 li a:visited {
	background:#000099;
}
#cssmenu > ul li ul li ul.navigation-3 li:hover a, #cssmenu > ul li ul li ul.navigation-3 li a:hover, #cssmenu > ul li ul li ul.navigation-3 li a:active {
	background:#0066FF;
}
